<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>quran</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  
  <header>
    <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <div class="container">
      <h1>Welcome to the Quran App</h1>
      <p>Explore the teachings of the Quran with our easy-to-use application.</p>
      <a href="/surahs" class="btn">View Surahs</a>

      <a href="/search" class="btn">Search Quran</a>

      <a href="/random" class="btn">Random Verse</a>

    </div>

    <section id="about">
      <h2>About the Quran App</h2>
      <p>This application provides access to the Quran's text, translations, and various features to enhance your understanding and study of the Quran.</p>

      <h3>Features:</h3>
      <ul>
        <li>Browse Surahs and Ayahs</li>
        <li>Search for specific verses</li>
        <li>Get a random verse for inspiration</li>
      </ul>
    </section>

    <section id="contact">
      <h2>Contact Us</h2>
      <p>If you have any questions or feedback, feel free to reach out to us at <a href="mailto:hemedimdoe18@gmail.com">hemedimdoe18@gmail.com</a>.</p>
    </section>

    <div class="random-aya">
      <h2>Random audio Ayahs</h2>
      <audio controls>
        <source src="https://the-quran-project.github.io/Quran-Audio/Data/2/1_2.mp3" type="audio/mpeg">
        Your browser does not support the audio element.

    </div>
    
  </main>

  <footer>
    <p>&copy; 2024 Quran App. All rights reserved.</p>
  </footer>

</body>
</html>